$primaryColor1: #4913f3;
$primaryColor2: #8b98fd;
$primaryColor3: #f5c900;

*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

html{
	font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
    background: #000000;
    color: #ffffff;
}

.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    min-height: 95vh;
}

h1,
h2,
h3{
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    background: $primaryColor3;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: .3s;
    width: 192px;
    &:focus,
    &:hover{
        background: $primaryColor2;
        color: #ffffff;
    }
}

li{
    list-style-type: none;
}

////////////////////MEDIA QUERIES/////////////////////////////////////
/////////////////////////////////////////////////////////////////////

@media (max-width: 900px){
    .wrapper {
        min-height: 90vh;
    }

    .button{
        &:hover{
            background: $primaryColor3;
            color: #000000;
        }
        &:active{
            background: $primaryColor2;
            color: #ffffff;
        }
    }

}
//////end @700px ////////////////////
