.header{
    background-image: url(../assets/microphoneBackground.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    min-height: 100vh;
    .headerText{
        color: #ffffff;
        text-transform: uppercase;
        width: 60%;
        padding-top: 15%;
        padding-bottom: 5%;
        h1,
        h3{
            padding: 30px 0;
        }
        h1{
            font-size: 5rem;
        }
    }
}

@media (max-width: 700px){
    .header .headerText {
        padding-left: 25px;
        h1{
            font-size: 3.5rem;
        }
        h3{
            display: none;
        }
    }
}