.mainHeader{
    background-image: url(../assets/microphoneBackground.jpg);
    background-position: top right;
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.mainHeadingContainer{
    float: left;
    width: 50%;
    iframe{
        margin: 20px 0;
        border-radius: 3px;
    }
}

.mainHeading{
    padding: 20px 0;
    text-transform: uppercase;
    h1{
        padding-bottom: 10px;
        border-bottom: 1px solid $primaryColor1;
        width: 75%;
    }
    h3{
        padding-top: 10px;
        width: 75%;
    }
}

form{
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    label{
        padding: 5px 10px;
        margin: 5px;
        color: lightgray;
        &:hover{
        cursor: pointer;
        color: #ffffff;
        }
    }
    button{
        margin: 5px;
    }
}

.searchQueryContainer{
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.searchRadioButtonsContainer{
    margin: 30px 0;
    text-align: center;
    input[type='radio']{
        display: none;
        &:checked+label{
            color: #ffffff;
            border-bottom: 2px solid $primaryColor1;
        }
    }
}

.lyricsContainer{
    background: rgba(82, 80, 80, 0.4);
    border-radius: 3px;
    width: 50%;
    padding: 20px;
    h3{
        margin: 0 auto;
        padding-bottom: 40px;
    }
}

.lyricsContainer.show{
    width: 100%;
}

.lyricsButton {
    display: none;
}

.lyrics{
    white-space: pre-wrap;
}

.content{
    background: rgba(82, 80, 80, 0.4);
    padding: 20px;
    margin: 20px 0 20px 50px;
    border-radius: 3px;
    float: left;
    width: calc(50% - 50px);
}

.hide{
    animation: test 1s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
    transform: translateY(-120%);
}

@keyframes test {
    from{
        position: static;

    }
    to{
        position: absolute;
    }
}

.show, .lyricsContainer {
    transform: translateY(0%);
}

.resultsPane, .lyricsContainer{
    transition: transform 1s, position 1.5s;
    margin: 0 auto;
}

.resultsContainer {
    margin: 0 auto;
    div {
        margin-bottom: 10px;
    }
    button {
        width: 22px;
        height: 20px;
        background: black;
        border: none;
        padding-bottom: 20px;
        border-radius: 50%;
        text-align: center;
        &:focus,
        &:hover a{
            color: $primaryColor2;
            border: 1.5px $primaryColor2 solid;
        }
        a {
            text-decoration: none;
            color: white;
            border-radius: 50%;
            border: 1.5px white solid;
            padding-bottom: 20px;
            width: 22px;
            height: 20px;
            display: inline-block;
            text-align: center;
        }
    }
    p {
        display: inline;
        margin-left: 10px;
        line-height: 26px;
        &:focus,
        &:hover{
            cursor: url(../assets/favicon.ico), auto;
        }
    }
    figure {
        float: left;
        width: 200px;
        margin: 30px calc((100% - 400px) / 4);
        transition: .3s;
        &:focus,
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        img {
            width: 200px;
            height: 200px;
        }
        figcaption {
            height: 3rem;
        }
    }
}

.resultsHeading, .setListHeading {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

.setListItem {
    li {
        display: inline-block;
        margin-bottom: 10px;
        line-height: 26px;
        &:focus,
        &:hover{
            cursor: url(../assets/favicon.ico), auto;
        }
    }
    button {
        width: 20px;
        height: 20px;
        background: red;
        border: none;
        padding-bottom: 21px;
        border-radius: 50%;
        color: white;
        text-align: center;
        margin-right: 10px;
        &:focus,
        &:hover{
            background: #ffffff;
            color: red;
        }
    }
}

////////////////////MEDIA QUERIES/////////////////////////////////////
/////////////////////////////////////////////////////////////////////

@media (max-width: 1200px){
    .resultsContainer {
        figure {
            width: 150px;
            margin: 25px calc((100% - 300px) / 4);

            img {
                width: 150px;
                height: 150px;
            }
            figcaption {
                height: 3rem;
            }
        }
    }

}
//////end @1200px ////////////////////

@media (max-width: 900px){
    .resultsPane {
        margin-bottom: 100px;
    }
    .resultsContainer {
        figure {
            width: 75px;
            margin: 35px calc((100% - 225px) / 6);

            img {
                width: 75px;
                height: 75px;
            }
            figcaption {
                height: 3rem;
            }
        }
    }
}
//////end @900px ////////////////////

@media (max-width: 700px){
    .mainHeadingContainer, .content {
        float: none;
        width: 100%;
    }

    .content {
        margin: 0;
    }

    .resultsContainer {
        figure {
            width: 75px;
            margin: 35px calc((100% - 300px) / 8);
        }
    }

    .hide {
        transform: translateY(-700%);
    }

    .lyricsButton {
            display: block;
            margin-bottom: 20px;
            margin-left: 20px;
    }

    .lyricsContainer {
        width: 100%;
    }

}
//////end @700px ////////////////////